name: CI/CD Deploy

on:
  push:
    branches:
      - dev
      - prod

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to Server
        run: |
          echo "Branch: ${{ github.ref }}"

          if [ "${{ github.ref }}" = "refs/heads/dev" ]; then
            DEPLOY_DIR="/home/${{ secrets.SERVER_USER }}/deploy/dev/docker"
            COMPOSE_FILE="docker-compose.dev.yml"
          elif [ "${{ github.ref }}" = "refs/heads/prod" ]; then
            DEPLOY_DIR="/home/${{ secrets.SERVER_USER }}/deploy/prod/docker"
            COMPOSE_FILE="docker-compose.prod.yml"
          else
            echo "Unsupported branch"
            exit 1
          fi

          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} \
          "cd $DEPLOY_DIR && docker compose -f $COMPOSE_FILE pull && docker compose -f $COMPOSE_FILE up -d --remove-orphans"
